.online {
  color: green;
}

.offline {
  color: red;
}

.status {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.01em;
}

.homieCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homieAvatar {
  margin-bottom: 8px;
}

.homieName {
  font-size: 17px;
  font-weight: 500;
  color: var(--black);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
